.bg {
    background: #fff5ec;
}


.feature-box-01 {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    
}

.feature-box-01:hover div,
.feature-box-01:hover {
    color: white;
    background-color: #dc965a;
}

.img-box {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    background: #fff;
}

.img-box>img {
    width: 100%;
}

.after-left-section {
    background: #dc965a;
    width: 40%;
}

.px-btn {
    background: #dc965a;
    color: white;
    text-decoration: none !important;
}

.px-btn:hover {
    background: black;
    color: white;
}

.ghf-border::after {
    border-bottom: 1px solid white;
    content: " ";
    display: block;
    transform: scale(0);
    transform-origin: left;
    transition: all 400ms linear 0s;
}

.ghf-border:hover::after {
    transform: scale(1);
}

@media screen and (max-width:575px) {
    .top-style {
        position: absolute;
        width: 200px;
        top: 50px;
        left: -50px;
        color: #dc965a;
        visibility: hidden;
    }
    .icon {
        /*  width: 60px;
          height: 60px;
          */line-height: 60px;
          font-size: 50px;
          margin-bottom: 20px;
          color: #dc965a;
          text-align: center;
      }
      .ghf-header{
      text-align: center;
      
      }
      .ghf-body{
          text-align: left;
      }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .top-style {
        position: absolute;
        width: 250px;
        top: 50px;
        left: -50px;
        color: #dc965a;
    }
    .icon {
       line-height: 60px;
          font-size: 50px;
          margin-bottom: 20px;
          color: #dc965a;
          text-align: center;
      }
      .ghf-header{
      text-align: center;
      
      }
      .ghf-body{
          text-align: left;
      }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .custom-last-line {
        text-align-last: center;
    }
    .top-style {
        visibility: hidden;
    }
    .bottom-style {
        visibility: hidden;
    }
    .icon {
        /*  width: 60px;
          height: 60px;
          */line-height: 60px;
          font-size: 50px;
          margin-bottom: 20px;
          color: #dc965a;
          text-align: center;
      }
      .ghf-header{
      text-align: center;
      
      }
      .ghf-body{
          text-align: left;
      }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .ghf-negative-margin {
        margin-left: -105px;
    }
    .top-style {
        position: absolute;
        width: 300px;
        top: 50px;
        left: -50px;
        color: #dc965a;
    }
    .bottom-style {
        position: absolute;
        width: 300px;
        bottom: -10px;
        right: 0px;
        color: #dc965a;
    }
    .icon {
          width: 60px;
          height: 60px;
          line-height: 60px;
          font-size: 50px;
          margin-bottom: 20px;
          color: #dc965a;
          text-align: center;
      }
      .ghf-header{
      text-align: left;
            }
      .ghf-body{
          text-align: left;
      }
}

@media screen and (min-width:1200px) and (max-width:1399px) {
    .ghf-negative-margin {
        margin-left: -105px;
    }
    .top-style {
        position: absolute;
        width: 350px;
        top: 50px;
        left: -50px;
        color: #dc965a;
    }
    .bottom-style {
        position: absolute;
        width: 350px;
        bottom: -10px;
        right: 0px;
        color: #dc965a;
    }
    .icon {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 50px;
        margin-bottom: 20px;
        color: #dc965a;
        text-align: center;
    }
    .ghf-header{
    text-align: left;
          }
    .ghf-body{
        text-align: left;
    }


}

@media screen and (min-width:1400px) {
    .ghf-negative-margin {
        margin-left: -105px;
    }
    .top-style {
        position: absolute;
        width: 400px;
        top: 50px;
        left: -50px;
        color: #dc965a;
    }
    .bottom-style {
        position: absolute;
        width: 400px;
        bottom: -10px;
        right: 0px;
        color: #dc965a;
    }
    .icon {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 50px;
        margin-bottom: 20px;
        color: #dc965a;
        text-align: center;
    }
    .ghf-header{
    text-align: left;
          }
    .ghf-body{
        text-align: left;
    }

}

.ghf-nav {
    background-image: url(../images/bg-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    
}

.ghf-pos {
    position: absolute;
}


.sm-title {
    margin-bottom: 30px;
}

.font-alt {
    font-family: sans-serif;
}











.aducation-box {
    margin: 0;
    list-style: none;
    padding: 25px;
    box-shadow: rgb(0 0 0 / 25%) 0px 25px 50px -12px;
}



.aducation-box-span {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 16px;
    color: #fff;
    padding: 4px 12px;
    border-radius: 30px;
    font-size: 12px;
    line-height: 1;
}

.aducation-box-h6 {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.aducation-box-p {
    margin: 0;
    color: rgba(255,255,255,0.8);
}
.aducation-box-li {
    padding-top: 25px;
    margin-top: 20px;
    border-top: 1px dashed rgba(255,255,255,0.2);
}

.theme-bg {
    background: #dc965a;
}
.dark-bg {
    background: #0f0a0a;
}


.skill-box {
    min-height: calc(100% - 73px);
    padding: 25px;
    box-shadow: rgb(0 0 0 / 25%) 0px 25px 50px -12px;
}
.gray-bg {
    background: #fff5ec;
}

.skill-bar {
    position: relative;
    background: #0f0a0a;
}

.skill-bar-in {
    width: 80px;
    height: 10px;
    position: relative;
    -moz-transition: ease all 0.55s;
    -o-transition: ease all 0.55s;
    -webkit-transition: ease all 0.55s;
    transition: ease all 0.55s;
}
.skill-bar-in > span:after {
    content: "";
    position: absolute;
    bottom: -8px;
    right: 0;
    border-left: 7px solid transparent;
    border-top: 8px solid #0f0a0a;
}
.skill-bar-in > span {
    position: absolute;
    right: 0;
    bottom: 15px;
    background: #0f0a0a;
    padding: 2px 6px;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
}

.skill-lt {
	
		margin-top: 43px;
	}